<h1>New Book</h1>

<%= form_with scope: :book, local: true do |form| %>
    <p>
      <%= form.label :book %><br>
      <%= form.text_field :book %>
    </p>
   
    <p>
      <%= form.label :author %><br>
      <%= form.text_field :author %>
    </p>
   
    <p>
      <%= form.submit %>
    </p>
  <% end %>